= form_for @post do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body
    = f.cktext_area :body, class: 'ckeditor'
  .form-group
    = f.label :tag_list, 'Tags (separated by commas)'
    = f.text_field :tag_list, value: @post.tags.join(', '), class: 'form-control tags'
  = f.submit

:javascript
  $('.tags').tagsInput();
