%h1 Posts

= link_to 'New Post', new_post_path

%table.table
  %thead
    %tr
      %th #
      %th Title
      %th User
      %th Created at
      %th Updated at
      %th Actions
  %tbody
  - @posts.each do |post|
    %tr
      %th
        = post.id
      %td
        = post.title
      %td
        = post.user.email
      %td
        = post.created_at.strftime('%B %d, %Y')
      %td
        = post.updated_at.strftime('%B %d, %Y')
      %td
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }

