- if params[:tag]
  %h3
    = "Tag: #{params[:tag]}"
- @posts.each do |post|
  %p #{link_to post.title, post} - #{post.created_at.strftime('%Y %B %d')}
  - post.tags.each do |tag|
    = link_to tag.name, tag_path(tag.name)
  %br
