- if params[:tag]
  %h4
    tagged by: #{params[:tag]}

- if params[:tag]
  %p#tag_cloud
    more tags:
    - tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: "#{css_class} + post-tag" unless raw(tag).eql?(params[:tag])

- if @posts && @posts.any?
  = render 'posts'
- else
  %p
    No results
