!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container{:style => "padding-top: 70px"}
      %h1
        = link_to "Blog Name", root_url
      %br
      = yield

      %hr/
      %footer
        %p Copyright © Blog
